@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HookahsAndSmokingSystems.Models.Product.Product


@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form action="" method="post">
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">@Model.Name</h3>
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-6">
                        <div class="white-box text-center"><img src="@Model.DisplayingImageUrl" class="img-thumbnail"></div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-6">
                        <h4 class="box-title">Описание</h4>
                        <p style="font-size: 20px">@Model.Description</p>

                        <div class="mt-5">
                            <text class="display-6 align-bottom fw-bold" style="font-size: 22px">дата создания - дата завершения: </text>
                            <p/>
                            <text class="mt-2 display-6 align-bottom" style="font-size: 24px">@Model.Price</text>
                            <p class="mt-2"/>
                            <text class="mt-5 display-6 fw-bold" style="font-size: 22px">Статус Заказа:</text>
                            @{
                                @Html.DropDownList("newStatusName", Model.SubCategoriesRepository.GetListElementsName().Select(s => new SelectListItem {Text = s.ToString(), Value = s.ToString()}), Model.Status)
                                <input type="hidden" name="productId" value="@Model.Id"/>
                            }
                        </div>
                    </div>
                    <button class="btn btn-outline-dark mt-5" type="submit">Подтвердить изменения</button>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
</body>
</html>